.language-selected table td {
	padding: 8px;
	height: 30px;
	text-align: center;
	font-size: 12px;
}
.language-selected table a {
	display: inline-block;
	padding: 5px;
	width: 100%;
	text-align: center;
	background-color: #eee;
	color: #000;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.language-selected table a.current {
	background-color: #fafafa;
	color: #008cff;
}